.navbar {
  background-color: #fff;
  box-shadow: 0 3px 2px -2px #ccc;
}

.navbar-brand {
  color: inherit;
  font-size: 110%;
  font-weight: 500;
}

.navbar-brand:hover {
  color: #700;
}

.menu-icon {
  font-size: 150%;
}

button:focus {
  outline: none;
}

.nav-link {
  font-size: 130%;
  color: #555;
  transition: color 0.5s, box-shadow 0.5s ease;
  -webkit-transition: color 0.3s, box-shadow 0.3s ease;
}

.nav-link:hover {
  background: #fff;
  color: #700;
}

/* ------------- MEDIA QUERIES -------------*/

@media only screen and (max-width: 576px) {
  .nav-link {
    font-size: 150%;
  }

  .navbar-nav {
    padding: 20px 0;
  }
}
