a:link {
  text-decoration: none;
  color: inherit;
}


.video-item {
  padding-bottom: 20px;
}

.video-title {
  font-size: 90%;
  font-weight: 500;
}

.channel-details span {
  font-size: 100%;
  color: inherit;
}

.video-thumbnail img {
  width: 100%;
  height: auto;
}
