.video-results {
  text-align: center;
}

.video-results span {
  font-size: 110%;
}

.video-list {
  height: 750px; /* or any value */
  overflow-y: auto;
}

.video-list-content {
  margin: 10px 30px;
}

@media only screen and (max-width: 567px) {
  .video-results {
    margin-top: 30px;
  }
}
