.video-detail-box {
  box-shadow: 0 2px 10px 2px #e3e3e3;
  margin-top: 50px;
}

.description-expand {
  color: inherit;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.channelTitle span:first-of-type {
  font-size: 80%;
}

.channelTitle span:last-of-type {
  font-size: 70%;
  font-weight: 500;
}

.spinner {
  margin-top: 50px;
  height: 416px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 992px) {
  .video-detail-box {
    margin-top: 10px;
  }
}
